<app-menu></app-menu>

<div class="panel panel-default">
  <div class="panel-heading">Contraseñas de Sitios visitados</div>
  <div class="panel-body">

    <div class="cmd">
      <button class="btn btn-primary" [routerLink]="['/passwordForm']">
        Add New <span class="fa fa-plus"></span>
      </button>
    </div>

    <div class="container">
      <div class="panel panel-default">
        <input type="text" class="form-control" (keypress)="keyPressSearch($event)" placeholder="Search..."><span
          class="fa fa-search"></span>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">id
              <span class="	fa fa-sort-desc" *ngIf="flag" (click)="orderBy('id','DESC')"> </span>
              <span class="	fa fa-sort-asc" *ngIf="!flag" (click)="orderBy('id','ASC')"></span>
            </th>
            <th scope="col">Sitio
              <span class="	fa fa-sort-desc" *ngIf="flag2" (click)="orderBy('sitio','DESC')"> </span>
              <span class="	fa fa-sort-asc" *ngIf="!flag2" (click)="orderBy('sitio','ASC')"></span>
            </th>
            <th scope="col">Password
              <span class="	fa fa-sort-desc" *ngIf="flag3" (click)="orderBy('password','DESC')"> </span>
              <span class="	fa fa-sort-asc" *ngIf="!flag3" (click)="orderBy('password','ASC')"></span>
            </th>
            <th scope="col">Fecha
              <span class="	fa fa-sort-desc" *ngIf="flag4" (click)="orderBy('fecha','DESC')"> </span>
              <span class="	fa fa-sort-asc" *ngIf="!flag4" (click)="orderBy('fecha','ASC')"></span>
            </th>
            <th scope="col">Activo
              <span class="	fa fa-sort-desc" *ngIf="flag5" (click)="orderBy('activo','DESC')"> </span>
              <span class="	fa fa-sort-asc" *ngIf="!flag5" (click)="orderBy('activo','ASC')"></span>
            </th>
            <th scope="col">Usuario Creo
              <span class="	fa fa-sort-desc" *ngIf="flag5" (click)="orderBy('Usuario','DESC')"> </span>
              <span class="	fa fa-sort-asc" *ngIf="!flag5" (click)="orderBy('Usuario','ASC')"></span>
            </th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let password of arrPasswords; index as i">
            <th scope="row"> {{password.id}}</th>
            <td>{{password.sitio}}</td>
            <td>{{password.password}}</td>
            <td>{{password.fecha}}</td>
            <td>{{password.activo}}</td>
            <td>{{password.userName}}</td>
            <td>
              <button type="button" class="btn btn-info btn-lg" (click)="onClickDetalle(password.id)">Detalle</button>
              <button type="button" class="btn btn-warning btn-lg"
                (click)="onClickModificar(password.id)">Modificar</button>
              <button type="button" class="btn btn-danger btn-lg" (click)="onClickEliminar(password.id)">Eliminar</button>

            </td>
          </tr>
        </tbody>

      </table>

      <div class="botones">
        <button class="btn btn-default ml-2" (click)="changePage(false)" [disabled]="currentPage === 1">
          <span class="fa fa-mail-reply"></span>
        </button>
        <button class="btn btn-default ml-2" (click)="changePage(true)" [disabled]="currentPage === numPages">
          <span class="fa fa-mail-forward"></span>
        </button>
        <h5>
          pags: {{ numPages }}<br>
          No. pag {{currentPage}}
        </h5>
      </div>
    </div>


    <!-- detail Modal -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleView}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModal"> {{Id}} - {{Sitio}} </h5>
            <button type="button" class="close" (click)="closePopupView()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5> Sitio web: {{Sitio}} </h5>
            <h6>Password: {{Password}}</h6>
            <h6>Fecha : {{Fecha}}</h6>
            <h6>Estado: {{Activo}}</h6>
          </div>
        </div>
      </div>
    </div>

    <!-- Insert Modal -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">

      <!-- <div class="modal fade" id="myModalInsert" tabindex="-1" role="dialog" aria-labelledby="#myModalInsert" aria-hidden="true">
        -->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalInsert">Detalles </h5>
            <div class="modal-footer">
              <button type="button" class="close" (click)="closePopup()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <app-form-password></app-form-password>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->