<h1 *ngIf="flag">Formulario de ingreso</h1>
<form action="" [formGroup]="formNewPassword" (ngSubmit)="onSubmit()">
    <input type="hidden" class="form-control" formControlName="Id">
    <div class="form-group">
        <label for="">Sitio </label>
        <input type="text" class="form-control" formControlName="Sitio">
        <div class="error" *ngIf="formNewPassword.controls.Sitio.errors && formNewPassword.controls.Sitio.touched">
            El campo Sitio es requerido
        </div>
    </div>
   
    <div class="form-group">
        <label for="">Password</label>
        <input type="text" class="form-control" formControlName="Password">
        <div class="error" *ngIf="formNewPassword.controls.Password.errors && formNewPassword.controls.Password.touched">
            El campo password es requerido
        </div>
    </div>
    <div *ngIf="isShowEdit">
        <div class="form-group">
            <label for="">Usuario</label>
            <input type="text" class="form-control" formControlName="UserName">
        </div>
        <div class="form-group">
            <label for="">Fecha</label>
            <input type="text" class="form-control" formControlName="Fecha" >
        </div>
        
        
    </div>
   <input type="submit" value="Enviar"  class="btn btn-success" [disabled]="!formNewPassword.valid" *ngIf="isShowCreate"/>
   <button type="button" class="btn btn-warning"  (click)="onClickModificar()" *ngIf="isShowEdit" >Modificar</button>


</form>