.botones
{
    display: flex;
    justify-content: center;
}

.up{
    background-color: red;
    text-align: center;
    color: white;
    font-size: 25px;
}

.cmd{
    display: flex;
    justify-content: center;
}

.down{
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 25px;
}